*{ margin: 0; 
    padding: 0; }

header {
    width:  100%;
    overflow:  hidden;
    background:  #252932;
    margin-bottom:  20px;
}
.wrapper {

    width:  90%;
    max-width:  1000px;
    margin:  auto;
    overflow:  hidden;
}
header .logo {

    color:  #f2f2f2;
    font-size:  45px;
    line-height:  100px;
    float:  left;
}

.box-orange {

    position:  absolute;
    width:  800px;
    height:  400px;
    right:  5px;
}

.box-blue {

    position: relative;
    width:  650px;
    height:  450px;
}
