{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphics and Statistic</title>
    <link type="text/css" rel="stylesheet"
        href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/graphics.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block content %}
    <header>
        <div class="wrapper">
            <div class="logo">{% trans "Votings for" %} '{{votacion.name}}'</div>
        </div>
    </header>
    <div class="box-orange">   
        <canvas id="grafica" width="300" height="150"></canvas>
        <script>
            const $grafica = document.querySelector("#grafica");
            const color = ['rgb(69,177,223)', 'rgb(99,201,122)', 'rgb(203,82,82)', 'rgb(229,224,88)', 'rgb(54, 162, 235)'];
            const etiquetas = [{% for opt in procesado %} '{{opt.option}}', {% endfor %}]
            const datosVotacionBars = {
                label: "Votaciones para esta opción",
                data: [{% for opt in procesado %} {{opt.postproc}}, {% endfor %}],
                backgroundColor: color, 
                borderWidth: 1,
            };
            new Chart($grafica, {
                type: 'bar',
                data: {
                    labels: etiquetas,
                    datasets: [
                        datosVotacionBars,
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                    },
                }
            });
         </script>
    </div> 
    <div class="box-blue">
         <canvas id="grafic" width="300" height="150"></canvas>
         <script>
             const $graf = document.querySelector("#grafic");
             const eti = [{% for opt in procesado %} '{{opt.option}}', {% endfor %}]
             const colors = ['rgb(69,177,223)', 'rgb(99,201,122)', 'rgb(203,82,82)', 'rgb(229,224,88)', 'rgb(54, 162, 235)'];
             const datosVotacionLin = {
                 label: "Votaciones para esta opción",
                 data: [{% for opt in procesado %} {{opt.postproc}}, {% endfor %}],
                 backgroundColor: colors, 
                 borderWidth: 1,
             };
             new Chart($graf, {
                 type: 'pie',
                 data: {
                     labels: eti,
                     datasets: [
                         datosVotacionLin,
                     ]
                 },
                 options: {
                    maintainAspectRatio: false
                 }
             });
          </script>
    </div>
    <div class="tarjeta">
        <h1 class="titulo">{% trans "Statics for this voting" %}</h1>
        <div class="cuerpo">
            <div class="letras">
                <div id="winner">
                    {% trans "The winner vote is" %} "{{ winner.option }}" <br>
                </div>
                <div id="loser">
                    {% trans "The loser vote is" %} "{{ loser.option }}" <br>
                </div>
                <strong>{% trans "Percentages" %}:</strong> <br>
                {% for opt, p in porcentages %}
                {% trans "The option" %} "{{ opt.option }}" {% trans "was voted" %} {{ p }} % <br>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if messages %}
    <ul class="messages" style="margin-top:2%">
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <li class="{{ message.tags }} alert alert-danger" role="alert">{{ message }}</li>
            {% else %}
            <li class="{{ message.tags }} alert alert-{{message.tags}}" role="alert">{{ message }}</li>
            {% endif %}
            
        {% endfor %}
    </ul>
    
    {% endif %}

{% include 'footer.html' %}

{% endblock %}