<!DOCTYPE html>
<html>

    <head>
        
    </head>

    <body>
        
        <h1 style="text-align:center">Listado de Votaciones</h1>
        <br>
        <div class="votaciones">

           <!-- Cojo la colección votaciones que le paso en views.py --> 
            {% for votacion in votaciones %} 

                <div class="votacion">
                    
                    <div>

                        <!-- Por cada votación, saldrá el nombre, descripción y visibilidad -->
                        <h5>Nombre: {{votacion.name}}</h5>
                        <h5>Descripcion: {{votacion.desc}}</h5>
                        <h5>Visibilidad: {{votacion.visibility}}</h5>
                        <h5>---------------</h5>
                        
                    </div>
                    
                </div>

            {% endfor %}
        </div>

                    
    </body>

</html>