{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock %}


{% block content %}
<div class="row justify-content-md-center align-items-center">
    <div class="col-sm-8 justify-content-center align-items-center">
        <h2 class ="justify-content-center align-items-center">{% trans "Census Groups" %}</h2>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-sm-8">
        <h3>{% trans "Now you can add groups of voters to an specific voting" %}</h3>
        <h6>{% trans "for example, if you select Single, every user who satisfies that requirement will be added to the chosen voting" %}</h6>
    </div>
</div>

<div class="row">
    
</div>

<form class="row gx-3 gy-2 align-items-center" action="maritialStatus/add_by_maritialStatus_to_census" method="POST">
    {% csrf_token %}
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <label for="specificSizeSelect">{% trans "Choose a voting" %}</label>
            <select class="form-select" id="specificSizeSelect" name="voting-select">
                {% for voting in votings %}
                <option value="{{voting.id}}">{{voting}}</option>
                {%endfor%}
            </select>
                
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <label for="specificSizeSelect">{% trans "Maritial Status" %}</label>
            <select class="form-select" id="specificSizeSelect" name="maritialStatus-select">
                <option value="soltero">Solteros</option>
                <option value="conviviente">Convivientes</option>
                <option value="casado">Casados</option>
                <option value="divorciado">Divorciados</option>
                <option value="viudo">Viudos</option>
            </select>    
        </div>
    </div>
    <div class="row justify-content-center submit">
        <div class="col col-lg-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% if messages %}
<ul class="messages" style="margin-top:2%">
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <li class="{{ message.tags }} alert alert-danger" role="alert">{{ message }}</li>
        {% else %}
        <li class="{{ message.tags }} alert alert-{{message.tags}}" role="alert">{{ message }}</li>
        {% endif %}
        
    {% endfor %}
</ul>

{% endif %}

{% include 'footer.html' %}
{% endblock %}