.boton-personalizado-join-census {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    padding: 5px 20px;
    background-color: #ffd27d;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
}

/* Este es el estilo al poner el cursor encima del boton */
.boton-personalizado-join-census:hover {
    background-color: #000;
}

.boton-personalizado-quit-census {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    padding: 5px 20px;
    background-color: #ffd27d;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
}

/* Este es el estilo al poner el cursor encima del boton */
.boton-personalizado-quit-census:hover {
    background-color: #000;
}

.boton-personalizado-go-vote {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    padding: 5px 20px;
    background-color: #ffd27d;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius: 35px;
}

/* Este es el estilo al poner el cursor encima del boton */
.boton-personalizado-go-vote:hover {
    background-color: #000;
}