{% load static %}
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'registration/header.css' %}">
</head>
<body>
    <header>
        <div class="wrapper">
            
            <div class="logo">Decide Voting Platform</div>
            
            <nav>
                <a href="#">Profile</a>
                <a href="voting/listadoVotaciones">Public votings</a>
                <a href="{% url 'salir'%}">Logout</a>
            </nav>
        </div>
    </header>

    <h2>Welcome, {{user.username}}!</h2>

</body>
</html>