{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
{% endblock %}

{% block content %}
<!-- Navbar -->
<div >

    <h2>¡Bienvenido, {{user.first_name}}!</h2>


<a href="{% url 'salir'%}">Cerrar sesion</a>

{% if message %}
<p>Error: {{message}}</p>
{% endif %}
</div>
{% endblock %}
