{% load socialaccount %}
{% load i18n static %}

<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'registration/style.css' %}" />
    <title>Login</title>
</head>

<body>

    <h1>{% trans "Login" %}</h1>


    <div>
        <form method="POST">
            {%csrf_token%}
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">{% trans "User or email" %}</th>
                        <td><input id="id_username" type="text" name="username"></td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Password" %}</th>
                        <td><input id="id_password" type="password" name="password"></td>
                    </tr>
                </tbody>
            </table>
        
            <button id="id_button" type="submit" class="btn btn-outline-dark">{% trans "Login" %}</button>
            <a href="/authentication/registerForm/" id="button_registrar">{% trans "Registration" %}</a>

            <br><br>

            <a href="{% provider_login_url 'google' next='/authentication/completeForm/' %}">
                <button type="button" class="login-with-google-btn" >
                    {% trans "Sign in with Google" %}
                </button>
            </a>
        </form>
    </div>

    {% if messages %}
        <ul class="messages" style="margin-top:2%">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <li class="{{ message.tags }} alert alert-danger" role="alert">{{ message }}</li>
                {% else %}
                <li class="{{ message.tags }} alert alert-{{message.tags}}" role="alert">{{ message }}</li>
                {% endif %}
                
            {% endfor %}
        </ul>

    {% endif %}

{% include 'footer.html' %}
</body>
</html>



